Path : .muttrc
# pergi dekat Manage Google Account -> Search App Password 

# Change these two lines specifically:
set imap_user = "faezyahizan1@gmail.com"
set imap_pass = "uoztjsbrdihrbfzk"

# Use this SMTP format (no username in the URL, Mutt will use imap_user):
set smtp_url = "smtps://faezyahizan1%40gmail.com@smtp.gmail.com:465/"
set smtp_pass = "uoztjsbrdihrbfzk"

# Force Mutt to use SSL/TLS
set ssl_starttls = yes
set ssl_force_tls = yes

# Vim Is the besh bro
set editor = "vim"
